#map {
  height: 400px;
  width: 100%;
}

.overlay {
  position: absolute;
  z-index: 9999;
  top: 1rem;
  right: 1rem;
  background-color: rgba(20, 20, 20, 0.8);
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  width: 9.375rem;

  .loading {
    position: absolute;
    top: 0;
    left: -4rem;
    height: 4rem;
    width: 4rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    z-index: 99999;
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../assets/loader.svg");
      background-size: contain;
      background-position: center center;
    }
  }
}
