#map {
  height: 400px;
  width: 100%;
}

.overlay {
  position: absolute;
  z-index: 9999;
  top: 1rem;
  right: 1rem;
  background-color: rgba(20, 20, 20, 0.8);
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  width: 9.375rem;
}
